<form action="{% url 'accounts:register' %}" method="post">
    {% csrf_token %}
    {{form.non_field_errors }}
    <div>
        <label for="">Username:</label>
        {{form.username}}
    </div>
    <div>
        <label for="">Email:</label>
        {{form.email}}
    </div>
    <div>
        <label for="">Password:</label>
        {{form.password1}}
    </div>
    <div>
        <label for="">Repeat Password:</label>
        {{form.password2}}
    </div>
    {%  if form.errors or form.non_field_errors %}
        {% for field in form %}
        <div style="background-color: red; padding: 30px; color: white; font-weight: bold;font-size: 20px;">
            {{field.errors}}
        </div>
        {% endfor %}
        {{form.non_field_errors}}
        {% endif %}
    
    <input type="submit" value="register" class="">
</form>