{% extends "base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<section class="bg-gray-50 p-6 ">
    <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg ">
        <div class="flex flex-col md:flex-row md:space-x-8">
            <!-- Product Image -->
            <div class="flex-shrink-0">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="shadow-2xl rounded-xl h-[600px] w-full object-cover object-center">
            </div>
            <!-- Product Details -->
            <div class="mt-6 md:mt-0 md:ml-8">
                <h1 class="text-3xl font-bold text-gray-800 mb-4">{{ product.name }}</h1>
                <h2 class="text-xl text-blue-600 mb-4">
                    <a href="{{ product.category.get_absolute_url }}" class="hover:underline">{{ product.category }}</a>
                </h2>
                <p class="text-2xl font-semibold text-gray-900 mb-6">${{ product.price }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post" class="mb-6">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to Cart" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                </form>
                <div class="prose font-light text-md">
                    {{ product.description|linebreaks }}
                </div>
                {% if recommeded_products %}
                <div class="">
                    <h2 class="">
                        People who bought this also bought
                    </h2>
                    {% for p in recommended_products %}
                    <div class="">
                        <a href="" class="">{{p.get_absolute_url}}</a>
                        <img src="{{ p.image.url }}" alt="" class="">
                        <p class="">{{p.name}}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
