{% extends 'base.html' %}

{% block  title %}
{% if category %}{{category.name}} {% else %}Products{%endif %}
{% endblock %}
{% block content %}
<div class="max-w-7xl mx-auto grid md:grid-cols-4 gap-4 grid-cols-1  font-sans my-10">
<div class="col-span-1 md:block hidden ">
  <ul class="space-y-4 py-10 px-10 w-full bg-gray-100 shadow-2xl">
    <h3 class="text-2xl text-center mb-6">Categories</h3>
      <li class="px-6 py-3 rounded-xl text-center {% if not category %} bg-gray-300 {% endif %}">
          <a href="{% url 'shop:product_list' %}" class="  ">All</a>
      </li>
       {% for c in categories %}
       <li class="px-6 py-3 rounded-xl  text-center {% if category.slug == c.slug %}bg-gray-700 text-white{% endif %}">
          <a href="{{c.get_absolute_url}}" class="">{{c.name}}</a>
       </li>
       {% endfor %}
       <a href="{% url 'shop:product_list' %}" class="bg-rose-500 text-lg inline-flex justify-center items-center text-white px-6 w-full text-center mt-2 py-4 rounded-xl">clear</a>
  </ul>
 
</div>
<div class="md:col-span-3 col-span-1">
  <h1 class="text-4xl text-center text-gray-800 font-semibold font-sans">{% if category %}{{category.name}} {% else %}Products{%endif %}</h1>
<section class="text-gray-600 font-sans">
  <div class="container">
    <div class="flex flex-wrap ">
      {% for product in products %}
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a href="{{product.get_absolute_url}}" class="block relative h-48 rounded overflow-hidden">
          <img alt="{{product.name}}" class="object-cover object-center w-full h-full block" src="{{product.image.url}}">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{product.category}}</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">{{product.name |title}}</h2>
          <p class="mt-1">${{product.price}}</p>
        </div>
      </div>
      <div class="mt-2">
                
        <form action="{% url 'cart:cart_add' product.id %}" method="post" class="">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="w-full px-4 py-2 text-sm text-white uppercase transition-all bg-teal-500 rounded hover:translate-x-2 hover:duration-700 hover:ease-linear hover:bg-teal-800 hover:text-white">add to cart</button>
        </button>
        </form>
    
      </div>
      {% endfor %}
    </div>
  </div>
</section>
</div>
</div>
{% endblock %}
