{% extends 'base.html' %}

{% block title %}
Checkout
{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto bg-gray-100 h-screen">
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-2xl my-20 p-4">
        <h2 class="text-sm text-gray-400">Checkout</h2>

<h3 class="text-3xl">Your order</h3>
<ul>
    {% for item in cart %}
    <div class="mb-3 bg-green-400 rounded-lg p-4 px-6 py-4">
    <li>
       
            <p class="text-sm">{{item.quantity}}x {{ item.product.name}} <span class="font-semibold">${{item.total_price }}</span></p>
        
       
    </li>
    {% endfor %}
    <p class="text-sm">Total: <span class="font-extrabold">${{ cart.get_total_price }}</span></p>
</div>
</ul>

<form action="" method="post">
    <h2 class="text-3xl ">Shipping Details</h2>
    <hr class="border border-solid border-gray-600 w-20 my-4">
    {% for field in form %}
    <div class="mb-3"><label for="" class="text-xl">{{field.label_tag}}</label>
    {{field}}
    </div>
    {% endfor %}
    {% csrf_token %}
    <input type="submit" value="Place Order" class="bg-blue-500 hover:bg-blue-700 rounded-lg px-6 py-4 text-white fot-medium">
</form>

    </div>

</div>

{% endblock %}