{% extends 'base.html' %}

{% block title %}
Payment Successful
{% endblock %}

{% block content %}
<section class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-6">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg text-center">
        <h1 class="text-3xl font-bold text-teal-700 mb-4">Payment Successful</h1>
        <p class="text-lg text-gray-700 mb-6">
            Your payment has been processed successfully. Thank you for your purchase!
        </p>
        <a href="" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
            Return to Home
        </a>
    </div>
</section>
{% endblock %}
